.about-me {
  background-color: #57606f;
  text-align: center;
  padding: 20px;
}

.projects {
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  max-width: 800px;
  margin-top: 50px;
}

table td {
  padding: 15px;
}

table #project {
  min-width: 110px;
}

table #title {
  min-width: 200px;
}

@media (max-width: 1000px) {
  table #project {
    min-width: 0;
  }
  table #title {
    min-width: 0;
  }
}

section a {
  color: #8e44ad;
}

section a:hover {
  color: #dfe4ea;
}

/* .headshot {
  width: 30%;
  border-radius: 350px;
  padding: 50px;
} */

.headshot {
  width: 330px;
  border-radius: 200px;
  padding: 40px;
}

@media screen and (max-width: 600px) {
  .headshot {
    width: 30%;
  }
  .about-me {
    padding: 10px;
  }
}
