.contact {
  background-color: #57606f;
  text-align: center;
  padding: 250px;
}

.contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section a {
  color: #8e44ad;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}

li img {
  width: 24px; /* consistent icon size */
  margin-top: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 1000px) {
  .contact {
    padding: 235px 100px;
  }
}

@media screen and (max-width: 600px) {
  .contact {
    padding: 235px 50px;
  }
}
