html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1c1d1e;
  font-family: Readex Pro, Times, serif;
  text-align: center;
}

nav {
  background-color: rgb(55, 62, 81);
}

nav .tech-container img {
  width: 30px;
}

nav .nav-container {
  display: flex;
  justify-content: space-between;
}

nav h3 {
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  margin: 0 30px 0 0;
}

nav .logo {
  width: 30px;
  margin: 0 10px 0 0;
}

nav .menu-container,
.tech-container {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav .nav-link {
  color: rgb(215, 220, 225);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 7px;
}

nav .nav-link:hover {
  background-color: rgb(7, 7, 64);
}

nav .hamburger {
  display: none;
}

nav .hamburger-list-container .nav-link {
  display: block;
}

/* .hamburger-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* moves content to the right */
/* } */

nav .hamburger-list-container .nav-link {
  display: block;
  text-align: left; /* aligns the text inside each link to the right */
}

@media screen and (min-width: 600px) {
  .hamburger-list-container {
    display: none;
  }
}
*/ .hamburger-list-container {
  display: none;
}

.hidden {
  display: none !important;
}

@media (max-width: 1000px) {
  nav h3 {
    display: none;
  }
}

@media (max-width: 600px) {
  nav .hamburger {
    display: block;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .menu-container .nav-link {
    display: none;
  }
  .hamburger-list-container {
    display: block;
  }
}

section {
  color: rgb(215, 220, 225);
}

section a {
  text-decoration: none;
  color: rgb(215, 220, 225);
}

section h3 {
  font-size: 30px;
  margin: 0;
}

h1 {
  font-size: 50px;
  margin: 0;
}

p {
  font-size: 18px;
}

.work-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-card {
  width: 25%;
  background-color: rgb(30, 35, 40);
  margin: 10px;
  padding: 0 50px 50px 50px;
}

@media (max-width: 600px) {
  .work-card {
    width: 100%;
    padding: 10px;
  }
}

.html {
  border-top: solid 8px rgb(245, 111, 63);
}

.css {
  border-top: solid 8px rgb(58, 242, 135);
}

.js {
  border-top: solid 8px rgb(223, 247, 12);
}

.react {
  border-top: solid 8px rgb(41, 122, 243);
}

footer {
  /* background-color: #4b6584; */
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  padding: 30px;
  color: #d2dae2;
}

footer a {
  text-decoration: none;
  color: #d2dae2;
}
