.socials {
  position: fixed;
  top: 20%;
  right: 0;
  background-color: rgb(73, 89, 73);
  width: 50px;
  padding: 10px 5;
  border-radius: 20px 0 0 20px;
}

.socials img {
  width: 80%;
  padding: 5px;
}

@media (max-width: 600px) {
  .socials {
    display: none;
  }
}

.headshot {
  width: 300px;
  border-radius: 200px;
  padding: 40px;
  margin-left: 10vw;
}

.main-section {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;
}

.introduction {
  width: 40vw;
  padding: 30px;
  border-left: 2px solid rgb(255, 255, 255);
}

@media (max-width: 1000px) {
  .main-section {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .introduction {
    width: 90vw;
    border-left: none;
    text-align: center;
  }
  .headshot {
    margin-left: 0;
  }
}

.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 5px 5px 0;
  padding: 15px;
  display: inline-block;
  transform: rotate(45deg);
}

.bounce {
  animation: bounce 2s infinite;
  padding: 50px 0 0 50px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.work-section {
  background-color: rgb(60, 65, 80);
  padding: 80px 50px;
}

.work-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-card {
  width: 25%;
  background-color: rgb(30, 35, 40);
  margin: 10px;
  padding: 0 50px 50px 50px;
}

@media (max-width: 600px) {
  .work-card {
    width: 100%;
  }
  .bounce {
    padding: 50px 0 0 0;
  }
}
.html {
  border-top: solid 8px rgb(245, 111, 63);
}

.css {
  border-top: solid 8px rgb(58, 242, 135);
}

.js {
  border-top: solid 8px rgb(223, 247, 12);
}

.react {
  border-top: solid 8px rgb(41, 122, 243);
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  .about-section {
    display: flex;
    flex-direction: column;
  }
  .about-container,
  .quote-container {
    padding: 100px 0 !important;
    width: 80% !important;
  }
}

.quote-container {
  width: 40%;
  padding: 40px;
}

.about-container {
  width: 30%;
  padding: 80px 0;
}

.quote {
  font-size: 40px;
  font-style: italic;
}

.quote-container p {
  float: right;
}
